VITE_WRAPPER_SERVICE_URL=https://ossino-stg-sb-feapi.negroup-tech.net
VITE_LOYALTY_SERVICE_URL=https://loyalty-dev-beapi.negroup-tech.net
VITE_CONTENT_SERVICE_URL=https://unified-cms-stg-beapi.negroup-tech.net
VITE_GAMES_SERVICE_URL=https://casino-stg-games-beapi.negroup-tech.net
VITE_WEBSITE_URL=https://ossino-stg.negroup-tech.net
VITE_BRAND_ID=377
VITE_PLATFORM_ID=0
VITE_OPERATOR_ID=ossino
VITE_GOOGLE_CLIENT_ID=495541810155-kfrofalslijcsecbktj91ktcq91ae0g4.apps.googleusercontent.com
VITE_LOYALTY_USERNAME=LOYALTYAPI
VITE_LOYALTY_PASSWORD=ew8)$prb=[=DBs(
VITE_MISSION_CLAIM_API_KEY=c4e1a2b0-9a52-4f2a-1a0b-1d52c57e8214