.swiperButtonNext,
.swiperButtonPrev {
    position: absolute;
    color: white;
}

.swiperButtonNext:hover,
.swiperButtonPrev:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.sliderShadowBlack::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: 0 0 50px 45px rgba(0, 0, 0, 1);
    z-index: 30;
}

.sliderShadowGray::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: 0 0 50px 45px rgba(17, 17, 17, 1);
    z-index: 30;
}


